.roller-container {
  overflow: hidden;
  width: 90%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.search-top10 {
  position: absolute;
  left: 20px;
  top: 0px;
  font-size: 1.2rem;
  display: flex;
  color: var(--color-grey);
  font-weight: bold;
  flex-direction: column;
  gap: 20px;
  transform: translateY(18px);
  transition: all 1s ease;
  width: 90%;
  height: 50%;
}
