@charset "UTF-8";
* {
  font-family: 돋움, dotum, sans-serif;
}

body {
  margin: 0px auto;
}

h1 {
  font-size: 2rem;
}

.container .promotion {
  border: 1px solid #e4e2e2;
}

.container .hot-deal, .container .promotion {
  width: 1270px;
  margin: auto;
  background: #fff;
}

.container .theme .theme-item {
  width: 25%;
  padding: 20px 60px;
}

.container .hot-deal .hot-deal__title, .container .hot-deal .hot-deal__detail-price, .container .theme .theme__link strong, .container .theme .theme__link span {
  display: block;
  padding: 5px;
  font-size: 0.875rem;
}

.hidden {
  visibility: hidden;
}

.none {
  display: none;
}

.header-top {
  display: flex;
  padding: 60px;
  justify-content: center;
}
.header-top .title {
  display: flex;
  align-items: center;
  margin-right: 50px;
}
.header-top .search {
  display: flex;
  position: relative;
  border: 1px solid gray;
}
.header-top .search form {
  display: flex;
}
.header-top .search form .search__input {
  width: 400px;
  height: 60px;
  padding: 10px;
}
.header-top .search form .search__icon {
  font-size: 1.4rem;
  padding: 10px;
}
.header-top .search .search-rollbox {
  overflow: hidden;
  position: absolute;
  transform: translateY(50%);
  width: 200px;
  left: 10px;
  height: 50%;
  pointer-events: none;
}
.header-top .search .search-rollbox .search-top10 {
  position: absolute;
  transform: translateY(50%);
  left: 10px;
  font-size: 1.2rem;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.header-top .search .search-rollbox .search-top10 .search-top10__item {
  padding-top: 2px;
  padding-bottom: 2px;
}

.header-menu {
  height: 60px;
  display: flex;
  border: 1px solid #cbcbcb;
  max-width: 1270px;
  margin: 0px auto;
}
.header-menu .category__title {
  height: 60px;
  padding: 10px;
}
.header-menu .category__title .fas {
  margin-right: 8px;
}
.header-menu .top-menu {
  display: flex;
  align-items: center;
  padding: 10px;
}
.header-menu .top-menu .top-menu__btn {
  padding: 0 20px;
  line-height: 60px;
}
.header-menu .private-menu {
  margin-left: auto;
  display: flex;
  position: relative;
}
.header-menu .private-menu .private-menu__btn {
  padding: 20px;
}
.header-menu .private-menu .private-menu__recent-window {
  position: absolute;
  z-index: 100;
  width: 300px;
  height: 500px;
  background-color: white;
  top: 100%;
  right: 0;
  padding: 0 30px;
}
.header-menu .private-menu .private-menu__recent-window .private-menu__recent-bar .private-menu__recent-tab-container {
  display: flex;
}
.header-menu .private-menu .private-menu__recent-window .private-menu__recent-bar .private-menu__recent-tab-container .private-menu__recent-tab {
  text-align: center;
  margin: 15px 5px 5px 5px;
}
.header-menu .private-menu .private-menu__recent-window .private-menu__recent-contents {
  display: flex;
  flex-wrap: wrap;
}
.header-menu .private-menu .private-menu__recent-window .private-menu__recent-contents .private-menu__recent-contents__item {
  margin: 10px;
  background-color: grey;
  width: 60px;
  height: 80px;
}

.gubun-bar {
  width: 1px;
  height: 60px;
  background: #cbcbcb;
  margin: 0px 20px;
}

.container {
  margin: auto;
  background-color: #f5f5f5;
  padding-top: 25px;
}
.container .promotion .banner {
  display: flex;
  justify-content: center;
}
.container .promotion .banner .best {
  float: left;
  width: 510px;
}
.container .promotion .banner .best .best__link {
  display: block;
  margin: 0 auto;
}
.container .promotion .banner .planning {
  width: 790px;
}
.container .promotion .banner .planning .planning__window {
  width: 600px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
.container .promotion .banner .planning .planning__window .planning__link-container {
  position: relative;
  display: flex;
  width: calc(3*600px);
  flex-wrap: wrap;
  left: -600px;
}
.container .promotion .banner .planning .planning__window .planning__link-container .planning__link {
  display: none;
  margin: 0 auto;
  width: 600px;
}
.container .promotion .banner .planning .planning__window .planning__link-container .planning__link:nth-child(1) {
  display: inline-block;
}
.container .promotion .banner .planning .planning__window .planning__link-container .planning__link:nth-child(2) {
  display: inline-block;
}
.container .promotion .banner .planning .planning__window .planning__link-container .planning__link:nth-child(3) {
  display: inline-block;
}
.container .promotion .banner .planning .planning__window .planning__btn-container {
  position: absolute;
  top: calc(100% - 50px);
  width: 100%;
  text-align: center;
}
.container .promotion .banner .planning .planning__window .planning__btn-container .planning__left-btn {
  width: 35px;
  height: 45px;
  top: -14px;
  position: absolute;
  left: 150px;
}
.container .promotion .banner .planning .planning__window .planning__btn-container .planning__left-btn .planning__left-btn-icon {
  display: inline-block;
  background: url(//shop1.daumcdn.net/search/cdn/simage/shopping/v2/common/img_home_150131.png) no-repeat;
  background-position: -128px -335px;
  width: 15px;
  height: 25px;
}
.container .promotion .banner .planning .planning__window .planning__btn-container .planning__right-btn {
  width: 35px;
  height: 45px;
  top: -14px;
  position: absolute;
  right: 150px;
}
.container .promotion .banner .planning .planning__window .planning__btn-container .planning__right-btn .planning__right-btn-icon {
  display: inline-block;
  background: url(//shop1.daumcdn.net/search/cdn/simage/shopping/v2/common/img_home_150131.png) no-repeat;
  background-position: -145px -335px;
  width: 15px;
  height: 25px;
}
.container .promotion .banner .planning .planning__window .planning__btn-container .planning__paging {
  display: inline-block;
  height: 15px;
}
.container .promotion .banner .planning .planning__window .planning__btn-container .planning__paging .planning__page {
  display: inline-block;
  padding: 5px 0px;
}
.container .promotion .banner .planning .planning__window .planning__btn-container .planning__paging .planning__page .planning__page-btn {
  width: 15px;
  height: 5px;
  background-color: lightgray;
}
.container .promotion .banner .planning .planning__window .planning__btn-container .planning__paging .planning__page .planning__current {
  background-color: gray;
}
.container .promotion img {
  margin: auto;
  text-align: center;
  display: flex;
}
.container .theme .theme-container {
  display: flex;
}
.container .theme .theme-item {
  border: 1px solid #f1f1f1;
}
.container .theme .theme__link {
  display: block;
}
.container .theme .theme__link .theme-item__title {
  font-weight: bold;
}
.container .theme .theme__link .theme-item__desc {
  padding-top: 0;
}
.container .theme .theme__link .theme-item__icon {
  border: 0.5px solid #ff000069;
  padding: 4px;
  width: 35px;
}
.container .hot-deal {
  margin-top: 60px;
}
.container .hot-deal .section-title {
  font-size: 1.25rem;
  padding-bottom: 20px;
  background-color: #f5f5f5;
}
.container .hot-deal .hot-deal-list {
  display: flex;
  flex-wrap: wrap;
}
.container .hot-deal .hot-deal-list .hot-deal__item {
  width: 20%;
  padding: 20px;
  border-right: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
}
.container .hot-deal .hot-deal-list .hot-deal__item a {
  pointer-events: none;
}
.container .hot-deal .hot-deal__detail-price {
  margin-top: 20px;
  position: relative;
}
.container .hot-deal .hot-deal__detail-price .txt-price-percent {
  position: absolute;
  right: 10px;
  font-size: 1.1rem;
  line-height: 1.1rem;
  color: red;
}

/*# sourceMappingURL=app.css.map */
