@import '../../../global.scss';

.theme {
  .theme-container {
      display: flex;
  }
  .theme-item {
      @extend %card;
      border-left: 1px solid #f1f1f1;
      border-top: 1px solid #f1f1f1;
  }
  .theme-item:first-child {
      border-left: none;
  }
  .theme__link {
      display: block;
      .img_top {
        width: 200px;
        height: 200px;
      }
      .theme-item__title {
        display: block;
        overflow: hidden;
        margin: 10px 0 1px;
        font-size: 14px;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-weight: bold;
      }
      .theme-item__desc {
        color: #888;
        font-size: 12px;
        display: block;
      }
      .theme-item__icon {
        width: 31px;
        background: url(//shop1.daumcdn.net/search/cdn/simage/shopping/img/ico_comm2_150514.gif) no-repeat;
        background-position: 0 -850px;
        float: left;
        height: 18px;
        margin: 11px 4px 0 0;
      }
  }
  .theme__link:hover {
      cursor: pointer;
      .theme-item__info > img {
        opacity: .75;
      }
      .theme-item__title {
          text-decoration: underline;
      }
  }
}