* {
    font-family: 돋움, dotum, sans-serif;
    //outline:1px solid gray; //for debugging
}

body {
    margin: 0px auto;
}

h1 {
    font-size: 2rem;
}

$primaryColor: #eeffcc;
$bgColor: #f5f5f5;
$paleGray: #e4e2e2;
$darkGray: #939393;

$button-padding: 20px;
%border-basic {
    border: 1px solid $paleGray;
}

%border-distinct {
    border: 1px solid #979797;
}

%border-highlight {
    border: 1px solid #f95139;
}

%section-layout {
    width: 1270px;
    margin: auto;
    background: #fff;
}

%card {
    width: 25%;
    padding: 20px 60px;
}

%text-block {
    display: block;
    padding: 5px;
    font-size: 0.875rem;
}

%text-bold {
    font-weight: bolder;
}

%x-center-align {
    display: flex;
    justify-content: center;
}

%y-center-align {
    display: flex;
    align-items: center;
}

%center-align {
    @extend %x-center-align;
    @extend %y-center-align;
}

%h2-title {
    font-size: 1.25rem;
    padding-bottom: 20px;
    background-color: $bgColor;
}

.hidden {
    visibility: hidden;
}
