@import "reset";
@import "global";

$SearchHeight: 60px;

.header-top {
    display: flex;
    padding: 60px;
    justify-content: center;

    .title {
        display: flex;
        align-items: center;
        margin-right: 50px;
    }

    .search {
        display: flex;
        position: relative;
        border: 1px solid gray;
        overflow: hidden;

        form {
            display: flex;

            .search__input {
                width: 400px;
                height: 60px;
                padding-left: 20px;
                line-height: $SearchHeight;
                font-size: 1.2rem;
                background-color: transparent;
                z-index: 2;
            }

            .search__icon {
                font-size: 1.4rem;
                padding: 10px;
            }
        }

        .search-top {
            position: absolute;
            top: 5px;
            left: 20px;
            line-height: $SearchHeight;
            font-size: 1.2rem;
            height: 50%;
            display: flex;
            flex-direction: column;
            align-items: start;
            color: grey;

                .search-top__item{
                    position: absolute;
                    width: 300px;
                    height: 60px;
                    transition: transform 1s;
                    display: none;
                }

                .previous-top-item{
                    transform: translateY(-60px);
                    display: block;
                }

                .current-top-item {
                    transform: translateY(0px);
                    display: block;
                }

                .next-top-item {
                    transform: translateY(60px);
                    display: block;
                }
        }
    }
}

.header-menu {
    height: 60px;
    display: flex;
    border: 1px solid #cbcbcb;
    max-width: 1270px;
    margin: 0px auto;

    .category__title {
        height: 60px;
        padding: 10px;

        .fas {
            margin-right: 8px;
        }

    }

    .category__lists-wrapper{
        display: none;
    }

    .top-menu {
        display: flex;
        align-items: center;
        padding: 10px;

        .top-menu__btn {
            padding: 0 $button-padding;
            line-height: 60px;
        }
    }

    .private-menu {
        position: relative;
        margin-left: auto;
        display: flex;

        .private-menu__btn {
            padding: $button-padding;
        }

        .activate-private-wrapper{
            position: relative;
            .private-float-layer{
                //visibility: hidden;
                position:absolute;
                width:400px;
                height:500px;
                right:0;
                border: 1px solid #979797;
                background-color: #fff;
                z-index: 10;
                display: flex;
                flex-direction: column;

                .private-float-layer__title-btns-wrapper{
                    display: flex;
                    flex-direction: row;
                    margin: 15px 10px 10px 10px;
                    .private-items__title-wrapper{
                        padding: 10px;
                        margin: 0 3px 0 3px;
                    }
                    .private-items__title-wrapper:hover{
                        border-bottom: 2px solid #888888;
                    }
                }

                .private-float-layer__contents-wrapper{
                    position:relative;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    height:100%;
                    overflow:hidden;
                    .private-items__wrapper{
                        position:absolute;
                        height: 100%;
                        width: 100%;
                        .private-items__products-list{
                            padding: 0 10px 10px 10px;
                            display: flex;
                            max-height: 95%;
                            flex-direction: row;
                            align-items: flex-start;
                            flex-wrap: wrap;
                            overflow-y: scroll;
                            width: 100%;
                            img {
                                margin: 2px;
                                height: 115px;
                                width: 115px;
                            }
                        }
                        .private-items__clear-btn{
                            position: absolute;
                            bottom: 0;
                            text-align: center;
                            width:100%;
                        }
                        .private-items__clear-btn:hover{
                            color: grey;
                        }
                    }
                }
            }
        }


    }
}

.gubun-bar {
    width: 1px;
    height: 60px;
    background: #cbcbcb;
    margin: 0px 20px;
}

.container {
    margin: auto;
    background-color: #f5f5f5;
    padding-top: 25px;

    .promotion {
        @extend %section-layout;
        @extend %border-basic;

        .banner {
            display: flex;
            justify-content: center;

            .best {
                float: left;
                width: 500px;

                .best__link {
                    display: block;
                    margin: 0 auto;
                }
            }
        }

        img {
            margin: auto;
            text-align: center;
            display: flex;
        }
    }
    .theme {
        .theme-container {
            display: flex;
        }
        .theme-item {
            @extend %card;
            border: 1px solid #f1f1f1;
        }
        .theme__link {
            display: block;
            strong, span {
                @extend %text-block;
            }
            .theme-item__title {
                font-weight: bold;
            }
            .theme-item__desc {
                padding-top:0;
            }
            .theme-item__icon {
                border:0.5px solid #ff000069;
                padding:4px;
                width: 35px;
            }
        }
    }

    .product-group {
        @extend %section-layout;
        margin-top:60px;

        .section-title {
            font-size: 1.25rem;
            padding-bottom: 20px;
            background-color: $bgColor;
        }
        .product__title, .product__detail-price{
            @extend %text-block;
        }

        .product-list {
            display: flex;
            flex-wrap:wrap;
            .product__item {
                position: relative;
                width:20%;
                padding:20px;
                border-right: 1px solid #f1f1f1;
                border-bottom: 1px solid #f1f1f1;
                .product__pick-btn{
                    position: absolute;
                    top:245px;
                    right: 20px;
                    z-index: 2;
                    cursor:pointer;
                    height: 20px;
                    width: 20px;
                    background-image: url(//search1.daumcdn.net/search/cdn/simage/shopping/v2/common/catalog/ico_catalog_rtn_210917.png);
                    background-size: 280px 420px;
                    background-position: -75px -100px;
                }

                .pick-btn-activated{
                    background-position: -160px -230px
                }
            }
        }


        .product__detail-price {
            margin-top: 20px;
            position: relative;
            .product__price-wrapper{
                display: flex;
                flex-direction: column;
                .txt-price{
                    font-size: 1.1rem;
                }

                .txt-original-price{
                    font-size: 13px;
                    color: #888;
                    text-decoration: line-through;
                }
            }

            .txt-discount-tag {
                position: absolute;
                top: 10px;
                right: 10px;
                font-size: 1.3rem;
                line-height: 1.1rem;
                color: red;
            }
        }
    }
}

.item:hover{
    .item-img{
        opacity: 0.7;
    }
    .item-title{
        text-decoration: underline;
    }
}
