@charset "UTF-8";
/*https://elad2412.github.io/the-new-css-reset/*/
/*** The new CSS Reset - version 1.4.2 (last updated 30.11.2021) ***/
/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
*:where(:not(iframe, canvas, img, svg, video):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove list styles (bullets/numbers) */
ol,
ul,
menu {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-width: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly. */
:where([contenteditable]) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
}

* {
  font-family: 돋움, dotum, sans-serif;
}

body {
  margin: 0px auto;
  background-color: #f3f3f3;
}

h1 {
  font-size: 2rem;
}

button {
  cursor: pointer;
}

a {
  cursor: pointer;
}

.screen_out {
  font-size: 0;
  line-height: 0;
}

.txt_bar {
  width: 1px;
  height: 18px;
  margin-top: 18px;
  background-color: #e3e3e3;
}

.txt_new {
  position: absolute;
  top: 17px;
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background-color: #f9624c;
}

.slide {
  width: max-content;
  cursor: pointer;
}
.slide .panel {
  height: 100%;
  overflow: hidden;
  display: inline-block;
  transform: translate3d(0px, 0px, 0px);
  width: 514px;
}
.slide .panel a {
  display: block;
  position: relative;
  width: 484px;
  margin: 0 auto;
}

.num_rank {
  margin-right: 15px;
  font-weight: bold;
}

.ico_shwgnb {
  display: block;
  overflow: hidden;
  background: url("../../assets/images/ico_gnb_shw.png");
  background-size: 130px 90px;
  position: absolute;
}

.ico_shwsearch {
  top: 15px;
  left: 14px;
  width: 23px;
  height: 23px;
}

.ico_menu {
  top: 13px;
  left: 4px;
  width: 28px;
  height: 28px;
  background-position: 0 -30px;
}

.ico_products {
  top: 13px;
  left: 0px;
  width: 28px;
  height: 28px;
  background-position: -60px -30px;
}

.ico_arrow {
  top: 26px;
  right: 6px;
  width: 8px;
  height: 5px;
  background-position: -60px -60px;
}

.ico_slide {
  width: 23px;
  height: 45px;
  display: inline-block;
  background: url("../../assets/images/img_home_190702.png");
}

.ico_prev {
  left: 160px;
}

.ico_next {
  right: 160px;
  background-position: -30px 0;
}

.ico_comm2 {
  background: url("../../assets/images/ico_comm2.gif");
  float: left;
  height: 18px;
  margin: 11px 4px 0 0;
}

.ico_theme {
  width: 31px;
  background-position: 0 -850px;
}

.ico_heart {
  position: static;
  display: inline-block;
  min-width: 18px;
  height: 15px;
  margin: 5px 4px 0 0;
  background-position: -70px -60px;
}

.ico_user {
  display: inline-block;
  width: 28px;
  height: 28px;
  margin-right: 6px;
  background-position: -30px -30px;
  vertical-align: top;
  text-indent: 0;
}

.ico_power {
  width: 20px;
  height: 18px;
  background-position: -90px -60px;
  display: inline-block;
  margin-right: 6px;
  vertical-align: top;
  position: static;
}

#kakaoHead {
  padding-top: 43px;
  font-family: Apple SD Gothic Neo, Malgun Gothic, 맑은 고딕, Dotum, 돋움, sans-serif;
  background-color: #fff;
  text-align: center;
  min-width: 977px;
}

.area_headtop {
  display: inline-block;
  vertical-align: top;
  display: flex;
  justify-content: center;
}
.area_headtop .tit_shw {
  margin-top: 4px;
}
.area_headtop .tit_shw a {
  display: block;
}
.area_headtop .tit_shw a img {
  width: 119px;
  vertical-align: top;
}

.wrap_shwsearch {
  position: relative;
  margin: 0 24px 0 30px;
  z-index: 10;
}
.wrap_shwsearch .frm_shwsearch {
  z-index: 3;
  position: relative;
  width: 670px;
  height: 54px;
  padding: 16px 60px 14px 30px;
  border: 1px solid #cecfd1;
  border-radius: 10px;
  background-color: transparent;
}
.wrap_shwsearch .frm_shwsearch input {
  float: left;
  height: 22px;
  width: 100%;
  text-align: left;
}
.wrap_shwsearch .frm_shwsearch button {
  position: absolute;
  right: 0;
  top: 0;
  width: 52px;
  height: 52px;
}
.wrap_shwsearch .wrap_rollkeywords {
  overflow: hidden;
  position: absolute;
  left: 31px;
  top: 16px;
  width: 578px;
  height: 23px;
  line-height: 23px;
  text-align: left;
}
.wrap_shwsearch .wrap_rollkeywords ol {
  position: absolute;
  top: -32px;
  left: 0;
  width: 100%;
}
.wrap_shwsearch .wrap_rollkeywords ol li {
  overflow: hidden;
  height: 22px;
  font-weight: 700;
  font-size: 20px;
  line-height: 22px;
  color: #939393;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.wrap_shwsearch .wrap_rollkeywords ol :not(li:first-child) {
  margin-top: 10px;
}

.wrap_suggestion {
  position: absolute;
  left: 0;
  top: 53px;
  z-index: 10;
  width: 100%;
  border: 1px solid #f95139;
  border-radius: 10px;
  background-color: #fff;
  text-align: left;
}
.wrap_suggestion .inner_suggestion {
  overflow: hidden;
  padding: 25px 29px 23px;
}
.wrap_suggestion .inner_suggestion .tit_suggestion {
  display: block;
  padding-bottom: 5px;
  font-size: 16px;
  color: #a6a6a6;
  letter-spacing: -0.04em;
  font-weight: bold;
}
.wrap_suggestion .inner_suggestion .list_keyword {
  overflow: hidden;
  float: left;
  width: 50%;
  padding-bottom: 6px;
}
.wrap_suggestion .inner_suggestion .list_keyword li {
  overflow: hidden;
  height: 33px;
  padding: 12px 15px 0 0;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.wrap_suggestion .inner_suggestion .list_keyword li .link_keyword {
  font-size: 14px;
  letter-spacing: -0.05em;
  color: #222;
}

#kakaoGnb {
  position: relative;
  margin-top: 40px;
  border-top: 1px solid #efefef;
  box-shadow: 0 1px rgba(0, 0, 0, 0.16);
}

.wrap_shwgnb {
  width: 1280px;
  font-size: 16px;
  margin: 0 auto;
  height: 54px;
}
.wrap_shwgnb .wrap_shwcate {
  float: left;
  height: 54px;
}
.wrap_shwgnb .wrap_shwcate button {
  width: 118px;
  height: 54px;
  padding-left: 40px;
  line-height: 58px;
  display: block;
  position: relative;
  text-align: left;
}
.wrap_shwgnb .list_shwgnb {
  float: left;
  display: flex;
  padding: 0 12px 0 8px;
}
.wrap_shwgnb .list_shwgnb li > a {
  display: block;
  height: 54px;
  line-height: 58px;
  letter-spacing: -0.038em;
  padding: 0 19px;
  font-weight: 700;
  position: relative;
}
.wrap_shwgnb .list_shwgnb li > a .txt_new {
  right: 10px;
}
.wrap_shwgnb .list_shwgnb li > a:hover {
  color: #f65b3d;
}
.wrap_shwgnb .list_kwordgnb {
  float: left;
  display: flex;
  padding: 0 14px;
}
.wrap_shwgnb .list_kwordgnb li > a {
  display: block;
  height: 54px;
  line-height: 58px;
  letter-spacing: -0.038em;
  padding: 0 14px;
  font-weight: 700;
  color: #888;
  position: relative;
}
.wrap_shwgnb .list_kwordgnb li > a .txt_new {
  right: 5px;
}
.wrap_shwgnb .list_usergnb {
  float: right;
  display: flex;
  letter-spacing: -0.04em;
  line-height: 59px;
}
.wrap_shwgnb .list_usergnb .loginWrap > a {
  display: block;
  width: 103px;
  height: 54px;
  padding-left: 33px;
  text-align: left;
  position: relative;
}
.wrap_shwgnb .list_usergnb .loginWrap > a .ico_user {
  top: 13px;
  left: 0;
}
.wrap_shwgnb .list_usergnb .area_rcntproducts {
  position: relative;
}
.wrap_shwgnb .list_usergnb .area_rcntproducts > a {
  display: block;
  width: 122px;
  height: 54px;
  padding: 0 16px 0 34px;
  position: relative;
}
.wrap_shwgnb .list_usergnb .wrap_rcntproducts {
  display: none;
  position: absolute;
  right: 2px;
  top: 54px;
  z-index: 10;
  padding: 0 28px;
  border: 1px solid #979797;
  background-color: #fff;
  text-align: left;
}
.wrap_shwgnb .list_usergnb .wrap_rcntproducts .list_tab {
  overflow: hidden;
  padding: 26px 0 17px;
  display: flex;
}
.wrap_shwgnb .list_usergnb .wrap_rcntproducts .list_tab li:nth-child(2) {
  margin-left: 38px;
}
.wrap_shwgnb .list_usergnb .wrap_rcntproducts .list_tab li > a {
  display: flex;
  height: 26px;
  font-size: 14px;
  color: #444;
  box-sizing: border-box;
  letter-spacing: -0.05em;
  line-height: 1.5;
}
.wrap_shwgnb .list_usergnb .wrap_rcntproducts .list_tab li > a .txt_tab {
  display: inline-block;
  vertical-align: top;
  width: 100%;
}
.wrap_shwgnb .list_usergnb .wrap_rcntproducts .list_tab li > a .txt_tab .num_products {
  margin-left: 3px;
  font-weight: 700;
  font-size: 16px;
}
.wrap_shwgnb .list_usergnb .wrap_rcntproducts .list_tab .on .txt_tab {
  border-bottom: 2px solid #4a4a4a;
  font-weight: 700;
}
.wrap_shwgnb .list_usergnb .wrap_rcntproducts .box_pannel .list_rcntproducts {
  overflow: hidden;
  width: 363px;
  height: 363px;
}
.wrap_shwgnb .list_usergnb .wrap_rcntproducts .box_pannel .list_rcntproducts .txt_noproducts {
  display: block;
  width: 363px;
  height: 255px;
  padding-top: 108px;
  font-weight: 700;
  font-size: 16px;
  color: #888;
  text-align: center;
  letter-spacing: -0.044em;
}
.wrap_shwgnb .list_usergnb .wrap_rcntproducts .box_pannel .list_rcntproducts .txt_noproducts .emph_g {
  color: #f95139;
}
.wrap_shwgnb .list_usergnb .wrap_rcntproducts .box_pannel .info_login {
  overflow: hidden;
  height: 106px;
  padding: 37px 0 23px;
  display: flex;
  justify-content: space-between;
}
.wrap_shwgnb .list_usergnb .wrap_rcntproducts .box_pannel .info_login .link_mypage {
  margin-top: 19px;
  font-weight: 700;
  font-size: 14px;
  line-height: 31px;
  color: #444;
  letter-spacing: -0.044em;
  max-width: 270px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.wrap_shwgnb .list_usergnb .wrap_rcntproducts .box_pannel .info_login .link_mypage .ico_user {
  position: static;
}
.wrap_shwgnb .list_usergnb .wrap_rcntproducts .box_pannel .info_login .btn_login {
  margin-top: 23px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #888;
}
.wrap_shwgnb .list_usergnb .on .wrap_rcntproducts {
  display: block;
}

#kakaoMain {
  width: 1276px;
  margin: 0 auto;
  padding: 19px 0 40px;
}

.section_top {
  border: 1px solid #e4e4e4;
  border-bottom: 0 none;
  width: 1274px;
  background-color: #fff;
}
.section_top .cont_event {
  width: 100%;
  border-bottom: 1px solid #f1f1f1;
  display: flex;
}
.section_top .cont_event .evt_item {
  width: 510px;
  height: 340px;
}
.section_top .cont_event .evt_item a {
  display: block;
  width: 484px;
  margin: 0 auto;
}
.section_top .cont_event .evt_slide {
  width: 763px;
  height: 340px;
  border-left: 1px solid #f1f1f1;
  position: relative;
}
.section_top .cont_event .evt_slide .slide_evt {
  width: 514px;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}
.section_top .cont_event .evt_slide .paging_comm {
  position: absolute;
  top: 283px;
  left: 0;
  width: 100%;
  text-align: center;
  clear: both;
}
.section_top .cont_event .evt_slide .paging_comm .inner_paging {
  display: inline-block;
  margin: 0 auto;
}
.section_top .cont_event .evt_slide .paging_comm .inner_paging .btn_paging {
  display: inline;
  float: left;
  width: 15px;
  height: 15px;
  margin-left: 3px;
  padding: 5px 0;
}
.section_top .cont_event .evt_slide .paging_comm .inner_paging .btn_paging .num_page {
  display: block;
  width: 15px;
  height: 5px;
  background-color: #ccc;
}
.section_top .cont_event .evt_slide .paging_comm .inner_paging .btn_paging .select {
  background-color: #000;
}
.section_top .cont_event .evt_slide .paging_comm .btn_slide {
  position: absolute;
  top: -160px;
  width: 63px;
  height: 85px;
}
.section_top .cont_event .evt_slide .paging_comm .btn_prev {
  left: 44px;
}
.section_top .cont_event .evt_slide .paging_comm .btn_prev:hover .ico_prev {
  background-position: -60px 0;
}
.section_top .cont_event .evt_slide .paging_comm .btn_next {
  right: 44px;
}
.section_top .cont_event .evt_slide .paging_comm .btn_next:hover .ico_next {
  background-position: -90px 0;
}
.section_top .list_item {
  display: flex;
  border-bottom: 1px solid #e4e4e4;
}
.section_top .list_item li {
  padding: 21px 27px;
  width: 256px;
  height: 318px;
  border-right: 1px solid #f1f1f1;
}
.section_top .list_item li .link_prod {
  display: block;
}
.section_top .list_item li .link_prod .info_thumb {
  display: block;
  height: 200px;
}
.section_top .list_item li .link_prod .tit_g {
  display: block;
  margin: 10px 0 1px;
  font-size: 14px;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 22px;
  letter-spacing: -1px;
  font-weight: bold;
}
.section_top .list_item li .link_prod .txt_info {
  display: block;
  color: #888;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -1px;
}

/*# sourceMappingURL=app.css.map */
