@import 'global';

.container {
  @include section-layout;
  margin-top: 5rem;

  .container__title {
    font-weight: 400;
    font-size: 22px;
    padding-bottom: 0.75rem;
  }

  .container__content {
    @include border-basic;
    display: flex;
    flex-direction: column;
    background-color: white;
  }
}

.product {
  width: 20%;
  padding: 20px;
  border-right: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1;

  .product__thumb {
    display: block;
    height: 200px;
    text-align: center;
    transition: opacity 200ms ease-out;
    & > img {
      height: 100%;
    }
  }

  .product__title {
    display: block;
    margin-top: 0.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .product__link:hover {
    .product__thumb {
      opacity: 0.7;
    }
    .product__title {
      text-decoration: underline;
    }
  }
}

// 상단 배너

.banner {
  display: flex;
  border-bottom: $border-style;

  & > :not(:last-child) {
    border-right: $border-style;
  }

  img {
    display: flex;
    text-align: center;
    margin: auto;
  }

  .promotion {
    flex: 2;
    .promotion__link {
      display: block;
      height: 100%;
    }
  }

  .slider {
    flex: 3;
  }
}

// 테마

.theme__container {
  display: flex;
  overflow: hidden;

  .product {
    .product__title {
      color: #333333;
      font-weight: bold;
      font-size: 0.85rem;
    }

    .product__desc {
      display: block;
      margin-bottom: 0.5rem;
      color: #888;
      font-size: 0.75rem;
    }

    .product__themeIcon {
      $color: #ff000069;
      align-self: flex-start;
      border: 0.5px solid $color;
      border-radius: 2px;
      color: $color;
      font-size: 0.75rem;
      padding: 0px 2px;
      margin-top: 0.5rem;
    }
  }
}

// 핫딜

.hotDeal__container {
  display: flex;
  flex-wrap: wrap;

  .product {
    .product__title {
      color: #555555;
      font-size: 13px;
      font-weight: 400;
    }

    .product__price {
      position: relative;
      display: flex;
      flex-direction: column;
      margin-top: 20px;

      .txt__price {
        font-weight: 900;
        .txt__unit {
          font-weight: 400;
        }
      }

      .txt__originPrice {
        color: #888888;
        text-decoration: line-through;
      }

      .txt__discountPercent {
        position: absolute;
        right: 10px;
        font-size: 1.5rem;
        font-weight: 400;
        color: $red-500;
        .txt__unit {
          font-size: 1rem;
        }
      }

      .txt__hotdeal {
        font-size: 18px;
      }
    }
  }
}
