.recently-viewed-thing {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  position: relative;

  .recently-viewed-thing-img {
    width: 40px;
    margin-left: 20px;
  }
}

.modal {
  position: absolute;
  left: -200;
  top: 50;
  width: 350px;
  height: 500px;
  border: 1px solid var(--color-grey2);
  padding: 20px;
  display: none;
  flex-direction: column;
  background-color: white;
  z-index: 1;

  .modal-title {
    font-size: 0.9rem;
  }

  .modal-main {
    margin-top: 20px;
    height: 90%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    .modal-no-item {
      margin: auto;
    }

    img {
      width: 32%;
      height: 32%;
      cursor: pointer;
    }

    .modal-highlight-span {
      color: var(--color-orange);
    }
  }

  .modal-description {
    display: flex;
    justify-content: space-between;

    span {
      color: var(--color-grey2);
      font-size: 0.8rem;
    }
    .modal-login {
      display: flex;
      align-items: center;
      cursor: pointer;

      img {
        width: 30px;
      }

      .modal-login-span {
        color: black;
      }
    }
  }
}
