.ico_comm2 {
    background: url(//shop1.daumcdn.net/search/cdn/simage/shopping/img/ico_comm2_150514.gif) no-repeat;
}

.btn_home, .ico_home {
    display: block;
    font-size: 0;
    line-height: 0;
    background: url(//shop1.daumcdn.net/search/cdn/simage/shopping/v2/common/img_home_190702.png) no-repeat;
    text-indent: -9999px;
}

.ico_shwgnb {
    display: block;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px;
    background: url(//shop1.daumcdn.net/search/cdn/simage/shopping/v2/common/nav/ico_gnb_shw.png) no-repeat;
        background-size: 130px 90px;
}

.ico_shwgnb {
    display: block;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px;
    background: url(//shop1.daumcdn.net/search/cdn/simage/shopping/v2/common/nav/ico_gnb_shw.png) no-repeat;
        background-size: 130px 90px;
}

.ico_comm2, .tit_comm {
    display: block;
    overflow: hidden;
    text-indent: -9999px;
}

.ico_slide {
    display: inline-block;
    overflow: hidden;
    width: 15px;
    height: 25px;
    font-size: 0;
    line-height: 0;
    background: url(//shop1.daumcdn.net/search/cdn/simage/shopping/v2/common/img_home_150131.png) no-repeat;
    text-indent: -9999px;
}