@import "reset";
@import "global";
@import "icon";

#kakaoHead {
  padding-top: 43px;
  font-family: Apple SD Gothic Neo, Malgun Gothic, 맑은 고딕, Dotum, 돋움,
    sans-serif;
  background-color: #fff;
  text-align: center;
  min-width: 977px;
}

.area_headtop {
  display: inline-block;
  vertical-align: top;
  display: flex;
  justify-content: center;
  .tit_shw {
    margin-top: 4px;
    a {
      display: block;
      img {
        width: 119px;
        vertical-align: top;
      }
    }
  }
}

.wrap_shwsearch {
  position: relative;
  margin: 0 24px 0 30px;
  z-index: 10;
  .frm_shwsearch {
    z-index: 3;
    position: relative;
    width: 670px;
    height: 54px;
    padding: 16px 60px 14px 30px;
    border: 1px solid #cecfd1;
    border-radius: 10px;
    background-color: transparent;
    input {
      float: left;
      height: 22px;
      width: 100%;
      text-align: left;
    }
    button {
      position: absolute;
      right: 0;
      top: 0;
      width: 52px;
      height: 52px;
    }
  }
  .wrap_rollkeywords {
    overflow: hidden;
    position: absolute;
    left: 31px;
    top: 16px;
    width: 578px;
    height: 23px;
    line-height: 23px;
    text-align: left;
    ol {
      position: absolute;
      top: -32px;
      left: 0;
      width: 100%;
      li {
        overflow: hidden;
        height: 22px;
        font-weight: 700;
        font-size: 20px;
        line-height: 22px;
        color: #939393;
        text-overflow: ellipsis;
        white-space: nowrap;
        span {
          margin-right: 15px;
          font-family: robotoitalic, Apple SD Gothic Neo;
        }
      }
      :not(li:first-child) {
        margin-top: 10px;
      }
    }
  }
}

#kakaoGnb {
  position: relative;
  margin-top: 40px;
  border-top: 1px solid #efefef;
  box-shadow: 0 1px rgba(0, 0, 0, 0.16);
}
.wrap_shwgnb {
  width: 1280px;
  font-size: 16px;
  margin: 0 auto;
  height: 54px;
  .wrap_shwcate {
    float: left;
    height: 54px;
    button {
      width: 118px;
      height: 54px;
      padding-left: 40px;
      line-height: 58px;
      display: block;
      position: relative;
      text-align: left;
    }
  }
  .list_shwgnb {
    float: left;
    display: flex;
    padding: 0 12px 0 8px;
    li > a {
      display: block;
      height: 54px;
      line-height: 58px;
      letter-spacing: -0.038em;
      padding: 0 19px;
      font-weight: 700;
      position: relative;
      .txt_new {
        right: 10px;
      }
      &:hover {
        color: #f65b3d;
      }
    }
  }
  .list_kwordgnb {
    float: left;
    display: flex;
    padding: 0 14px;
    li > a {
      display: block;
      height: 54px;
      line-height: 58px;
      letter-spacing: -0.038em;
      padding: 0 14px;
      font-weight: 700;
      color: #888;
      position: relative;
      .txt_new {
        right: 5px;
      }
    }
  }
  .list_usergnb {
    float: right;
    display: flex;
    letter-spacing: -0.04em;
    line-height: 59px;
    .loginWrap > a {
      display: block;
      width: 103px;
      height: 54px;
      padding-left: 33px;
      text-align: left;
      position: relative;
      .ico_user {
        top: 13px;
        left: 0;
      }
    }
    .area_rcntproducts {
      position: relative;
      & > a {
        display: block;
        width: 122px;
        height: 54px;
        padding: 0 16px 0 34px;
        position: relative;
      }
    }
    .wrap_rcntproducts {
      display: none;
      position: absolute;
      right: 2px;
      top: 54px;
      z-index: 10;
      padding: 0 28px;
      border: 1px solid #979797;
      background-color: #fff;
      text-align: left;
      .list_tab {
        overflow: hidden;
        padding: 26px 0 17px;
        display: flex;
        li:nth-child(2) {
          margin-left: 38px;
        }
        li > a {
          display: flex;
          height: 26px;
          font-size: 14px;
          color: #444;
          box-sizing: border-box;
          letter-spacing: -0.05em;
          line-height: 1.5;
          .txt_tab {
            display: inline-block;

            vertical-align: top;
            width: 100%;
            .num_products {
              margin-left: 3px;
              font-weight: 700;
              font-size: 16px;
            }
          }
        }
        .on .txt_tab {
          border-bottom: 2px solid #4a4a4a;
          font-weight: 700;
        }
      }
      .box_pannel {
        .list_rcntproducts {
          overflow: hidden;
          width: 363px;
          height: 363px;
          .txt_noproducts {
            display: block;
            width: 363px;
            height: 255px;
            padding-top: 108px;
            font-weight: 700;
            font-size: 16px;
            color: #888;
            text-align: center;
            letter-spacing: -0.044em;
            .emph_g {
              color: #f95139;
            }
          }
        }
        .info_login {
          overflow: hidden;
          height: 106px;
          padding: 37px 0 23px;
          display: flex;
          justify-content: space-between;
          .link_mypage {
            margin-top: 19px;
            font-weight: 700;
            font-size: 14px;
            line-height: 31px;
            color: #444;
            letter-spacing: -0.044em;
            max-width: 270px;
            text-overflow: ellipsis;
            white-space: nowrap;
            .ico_user {
              position: static;
            }
          }
          .btn_login {
            margin-top: 23px;
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
            color: #888;
          }
        }
      }
    }
    .on .wrap_rcntproducts {
      display: block;
    }
  }
}

#kakaoMain {
  width: 1276px;
  margin: 0 auto;
  padding: 19px 0 40px;
}
.section_top {
  border: 1px solid #e4e4e4;
  border-bottom: 0 none;
  width: 1274px;
  background-color: #fff;
  .cont_event {
    width: 100%;
    border-bottom: 1px solid #f1f1f1;

    display: flex;
    .evt_item {
      width: 510px;
      height: 340px;
      a {
        display: block;
        width: 484px;
        margin: 0 auto;
      }
    }
    .evt_slide {
      width: 763px;
      height: 340px;
      border-left: 1px solid #f1f1f1;
      position: relative;
      .slide_evt {
        width: 514px;
        overflow: hidden;
        position: relative;
        margin: 0 auto;
      }
      .paging_comm {
        position: absolute;
        top: 283px;
        left: 0;
        width: 100%;
        text-align: center;
        clear: both;
        .inner_paging {
          display: inline-block;
          margin: 0 auto;
          .btn_paging {
            display: inline;
            float: left;
            width: 15px;
            height: 15px;
            margin-left: 3px;
            padding: 5px 0;
            .num_page {
              display: block;
              width: 15px;
              height: 5px;
              background-color: #ccc;
            }
            .select {
              background-color: #000;
            }
          }
        }
        .btn_slide {
          position: absolute;
          top: -160px;
          width: 63px;
          height: 85px;
        }
        .btn_prev {
          left: 44px;
          &:hover .ico_prev {
            background-position: -60px 0;
          }
        }
        .btn_next {
          right: 44px;
          &:hover .ico_next {
            background-position: -90px 0;
          }
        }
      }
    }
  }
  .list_item {
    display: flex;
    border-bottom: 1px solid #e4e4e4;
    li {
      padding: 21px 27px;
      width: 256px;
      height: 318px;
      border-right: 1px solid #f1f1f1;
      .link_prod {
        display: block;
        .info_thumb {
          display: block;
          height: 200px;
        }
        .tit_g {
          display: block;
          margin: 10px 0 1px;
          font-size: 14px;
          white-space: nowrap;
          text-overflow: ellipsis;
          line-height: 22px;
          letter-spacing: -1px;
          font-weight: bold;
        }
        .txt_info {
          display: block;
          color: #888;
          font-size: 12px;
          line-height: 14px;
          letter-spacing: -1px;
        }
      }
    }
  }
}
