.ico_shwgnb {
  display: block;
  overflow: hidden;
  background: url("../../assets/images/ico_gnb_shw.png");
  background-size: 130px 90px;
  position: absolute;
}
.ico_shwsearch {
  top: 15px;
  left: 14px;
  width: 23px;
  height: 23px;
}

.ico_menu {
  top: 13px;
  left: 4px;
  width: 28px;
  height: 28px;
  background-position: 0 -30px;
}

.ico_products {
  top: 13px;
  left: 0px;
  width: 28px;
  height: 28px;
  background-position: -60px -30px;
}

.ico_arrow {
  top: 26px;
  right: 6px;
  width: 8px;
  height: 5px;
  background-position: -60px -60px;
}
.ico_slide {
  width: 23px;
  height: 45px;
  display: inline-block;
  background: url("../../assets/images/img_home_190702.png");
}
.ico_prev {
  left: 160px;
}
.ico_next {
  right: 160px;
  background-position: -30px 0;
}
.ico_comm2 {
  background: url("../../assets/images/ico_comm2.gif");
  float: left;
  height: 18px;
  margin: 11px 4px 0 0;
}
.ico_theme {
  width: 31px;
  background-position: 0 -850px;
}
.ico_heart {
  position: static;
  display: inline-block;
  min-width: 18px;
  height: 15px;
  margin: 5px 4px 0 0;
  background-position: -70px -60px;
}
.ico_user {
  display: inline-block;
  width: 28px;
  height: 28px;
  margin-right: 6px;
  background-position: -30px -30px;
  vertical-align: top;
  text-indent: 0;
}
.ico_power {
  width: 20px;
  height: 18px;
  background-position: -90px -60px;
  display: inline-block;
  margin-right: 6px;
  vertical-align: top;
  position: static;
}
.ico_remove {
  background: url("../../assets/images/img_home_190702.png");
  display: inline-block;
  width: 7px;
  height: 7px;
  background-position: -150px -58px;
  float: right;
}
