$primary-color: #eeffcc;
$bg-color: #f5f5f5;

$grey-100: #f1f1f1;

$red-300: #f9624c;
$red-500: #fc363c;

$btn-padding: 20px;
$border-style: 1px solid #e4e2e2;

%border-basic {
  border: $border-style;
}

%section-layout {
  width: 1270px;
  margin: auto;
}

%card {
  width: 25%;
  padding: 20px 60px;
}

%text-block {
  display: block;
  padding: 0.25rem 0px;
  font-size: 0.875rem;
}

%flex {
  display: flex;
  align-items: center;
}

%flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
