@charset "UTF-8";
* {
  font-family: Apple SD Gothic Neo,Malgun Gothic,맑은 고딕, Dotum,돋움,sans-serif;
  color: #333;
}

body {
  background-color: #f5f5f5;
}

h1 {
  font-size: 2rem;
}

strong {
  font-weight: bold;
}

.container .promotion {
  border: 1px solid #e4e2e2;
}

.container .hot-deal, .container .promotion {
  width: 1280px;
  margin: 0 auto;
  background: #fff;
}

.container .theme .theme-item {
  width: 25%;
  padding: 20px 60px;
}

.container .hot-deal .hot-deal__title, .container .hot-deal .hot-deal__detail-price, .container .theme .theme__link strong, .container .theme .theme__link span {
  display: block;
  padding: 5px;
  font-size: 0.875rem;
}

#header {
  background-color: #fff;
  min-width: 1280px;
  border-bottom: 1px solid #00000029;
}

.header-top {
  min-width: 1280px;
  margin: 0 auto;
  display: flex;
  padding: 43px 0 40px;
  justify-content: center;
  border-bottom: 1px solid #efefef;
}
.header-top .title__img {
  width: 119px;
  height: 51px;
}

.header-top .search {
  display: flex;
  position: relative;
  margin-left: 50px;
  padding: 16px 60px 14px 30px;
  width: 670px;
  height: 54px;
  box-sizing: border-box;
  border: 1px solid #cecfd1;
  border-radius: 10px;
}

.header-top .search.focus {
  border: 1px solid #f95139;
}

.header-top .search form {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 10;
}
.header-top .search form .search__input {
  width: 100%;
  height: 100%;
  font-size: 17px;
  font-weight: 700;
}
.header-top .search form .search__icon {
  position: absolute;
  right: -45px;
  width: 23px;
  height: 23px;
  overflow: hidden;
  background: url(//shop1.daumcdn.net/search/cdn/simage/shopping/v2/common/nav/ico_gnb_shw.png) no-repeat
}

.header-top .search .wrap_rolling {
  position: absolute;
  width: 100%;
  height: 22px;
  overflow: hidden;
}

.header-top .search.focus .wrap_rolling {
  display: none;
}

.header-top .search .search-top10 {
  font-size: 17px;
  font-weight: 700;
  color: #939393;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-top .search .search-top10 li {
  width: 100%;
  height: 22px;
}

.header-top .search .search-top10 li .rank {
  margin-right: 20px;
  font-style: italic;
}

.header-top .search .wrap_suggestion {
  display: none;
  position: absolute;
  left: 0;
  top: 52px;
  z-index: 10;
  width: 100%;
  border: 1px solid #f95139;
  border-radius: 10px;
  background-color: #fff;
  box-sizing: border-box;
  text-align: left;
}

.header-top .search.focus .wrap_suggestion {
  display: block;
}

.wrap_suggestion .inner_suggestion {
  overflow: hidden;
  padding: 25px 29px 23px;
}

.wrap_suggestion .inner_suggestion .tit_suggestion {
  display: block;
  padding-bottom: 5px;
  font-size: 16px;
  color: #a6a6a6;
}

.wrap_suggestion .inner_suggestion .list_keyword {
  overflow: hidden;
  float: left;
  width: 50%;
  padding-bottom: 6px;
}

.wrap_suggestion .inner_suggestion .list_keyword li {
  overflow: hidden;
  padding: 12px 15px 0 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
}

.wrap_suggestion .inner_suggestion .list_keyword li .rank {
  margin-right: 20px;
  font-style: italic;
}

.header-menu {
  height: 55px;
  display: flex;
  max-width: 1280px;
  margin: 0px auto;
  align-items: center;
}
.header-menu .category__title {
  padding: 0 30px;
  display: flex;
  align-items: center;
}
.header-menu .category__title .fas {
  margin-right: 8px;
  width: 28px;
  height: 28px;
  border-radius: 14px;
  color: #fff;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-menu .top-menu {
  display: flex;
  align-items: center;
  padding: 10px;
}
.header-menu .top-menu .top-menu__btn {
  padding: 0 20px;
  font-weight: 700;
}

.header-menu .top-menu .top-menu__btn:hover {
  color: #f65b3d;
}

.header-menu .keyword-menu {
  display: flex;
  align-items: center;
  padding: 10px;
}

.header-menu .keyword-menu .keyword-menu__btn {
  padding: 0 20px;
  font-weight: 700;
  color: #888;
}

.header-menu .private-menu {
  margin-left: auto;
  display: flex;
}
.header-menu .private-menu .private-menu__btn {
  padding: 20px;
  position: relative;
}

.private-menu__btn .hover-tap {
  display: none;
  position: absolute;
  top: 54px;
  right: 2px;
  z-index: 10;
  padding: 0 28px;
  border: 1px solid #979797;
  background-color: #fff;
  text-align: left;
}

.private-menu__btn.on .hover-tap {
  display: block;
}

.hover-tap .hover-tap-menu {
  padding: 26px 0 17px;
  display: flex;
}

.hover-tap .hover-tap-menu__btn {
  height: 26px;
  font-size: 14px;
  color: #444;
}

.hover-tap .hover-tap-item-container {
  height: 363px;
  width: 363px;
}


.gubun-bar {
  width: 1px;
  height: 18px;
  background: #e3e3e3;
}

.container {
  background-color: #f5f5f5;
  padding-top: 25px;
  min-width: 1280px;
}
.container .promotion .banner {
  display: flex;
  justify-content: center;
}
.container .promotion .banner .best {
  float: left;
  border-right: 1px solid #f1f1f1;
}
.container .promotion .banner .best .best__link {
  display: block;
  margin: 0 auto;
}
.container .promotion .banner .carousel {
  flex-grow: 1;
  position: relative;
}

.container .promotion .banner .carousel .carousel-window {
  margin: 0 auto;
  max-width: 485px;
  height: 340px;
  position: relative;
  overflow: hidden;
}

.carousel-window .carousel-container {
  display: flex;
  position: absolute;
  height: 100%;
}

.carousel-window .carousel-item {
  width: 485px;
}

.carousel .carousel-controller {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.carousel .carousel-controller .carousel__left-btn {
  position: absolute;
  height: 80px;
  width: 60px;
  top: calc(50% - 40px);
  left: 40px;
  text-align: center;
  font-size: 80px;
  font-weight: 100;
  color: #999;
}

.carousel .carousel-controller .carousel__right-btn {
  position: absolute;
  height: 80px;
  width: 60px;
  top: calc(50% - 40px);
  right: 40px;
  text-align: center;
  font-size: 80px;
  font-weight: 100;
  color: #999;
}

.carousel .carousel-controller .carousel__left-btn:hover {
  color: #333;
}

.carousel .carousel-controller .carousel__right-btn:hover {
  color: #333;
}

.container .theme .theme-container {
  display: flex;
}
.container .theme .theme-item {
  border: 1px solid #f1f1f1;
}
.container .theme .theme__link {
  display: block;
}
.container .theme .theme__link .theme-item__title {
  font-weight: bold;
}
.container .theme .theme__link .theme-item__desc {
  padding-top: 0;
}
.container .theme .theme__link .theme-item__icon {
  border: 0.5px solid #ff000069;
  padding: 4px;
  width: 35px;
}
.container .hot-deal {
  margin-top: 60px;
}
.container .hot-deal .section-title {
  font-size: 1.25rem;
  padding-bottom: 20px;
  background-color: #f5f5f5;
}
.container .hot-deal .hot-deal-list {
  display: flex;
  flex-wrap: wrap;
}
.container .hot-deal .hot-deal-list .hot-deal__item {
  width: 20%;
  padding: 20px;
  border-right: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
}
.container .hot-deal .hot-deal__detail-price {
  margin-top: 20px;
  position: relative;
}
.container .hot-deal .hot-deal__detail-price .txt-price-percent {
  position: absolute;
  right: 10px;
  font-size: 1.1rem;
  line-height: 1.1rem;
  color: red;
}

/*# sourceMappingURL=app.css.map */
