@charset "UTF-8";
* {
  font-family: 돋움, dotum, sans-serif;
}

body {
  margin: 0px auto;
}

h1 {
  font-size: 2rem;
}

.container .promotion {
  border: 1px solid #e4e2e2;
}

.container .hot-deal, .container .promotion {
  width: 1270px;
  margin: auto;
  background: #fff;
}

.container .theme .theme-item {
  width: 25%;
  padding: 20px 60px;
}

.container .hot-deal .hot-deal__title, .container .hot-deal .hot-deal__detail-price, .container .theme .theme__link strong, .container .theme .theme__link span {
  display: block;
  padding: 5px;
  font-size: 0.875rem;
}

.header-top {
  display: flex;
  padding: 60px;
  justify-content: center;
}
.header-top .title {
  display: flex;
  align-items: center;
  margin-right: 50px;
}
.header-top .search {
  display: flex;
  position: relative;
  border: 1px solid gray;
}
.header-top .search form {
  display: flex;
}
.header-top .search form .search__input {
  width: 400px;
  height: 60px;
  padding: 10px;
}
.header-top .search form .search__icon {
  font-size: 1.4rem;
  padding: 10px;
}
.header-top .search .search-top10 {
  position: absolute;
  transform: translateY(50%);
  left: 10px;
  font-size: 1.2rem;
  height: 50%;
  display: flex;
  align-items: center;
}

.header-menu {
  height: 60px;
  display: flex;
  border: 1px solid #cbcbcb;
  max-width: 1270px;
  margin: 0px auto;
}
.header-menu .category__title {
  height: 60px;
  padding: 10px;
}
.header-menu .category__title .fas {
  margin-right: 8px;
}
.header-menu .top-menu {
  display: flex;
  align-items: center;
  padding: 10px;
}
.header-menu .top-menu .top-menu__btn {
  padding: 0 20px;
  line-height: 60px;
}
.header-menu .private-menu {
  margin-left: auto;
  display: flex;
}
.header-menu .private-menu .private-menu__btn {
  padding: 20px;
}

.gubun-bar {
  width: 1px;
  height: 60px;
  background: #cbcbcb;
  margin: 0px 20px;
}

.container {
  margin: auto;
  background-color: #f5f5f5;
  padding-top: 25px;
}
.container .promotion .banner {
  display: flex;
  justify-content: center;
}
.container .promotion .banner .best {
  float: left;
  width: 510px;
}
.container .promotion .banner .best .best__link {
  display: block;
  margin: 0 auto;
}
.container .promotion .banner .planning {
  width: 790px;
}
.container .promotion .banner .planning .planning__link {
  display: block;
  margin: 0 auto;
  width: 600px;
}
.container .promotion img {
  margin: auto;
  text-align: center;
  display: flex;
}
.container .theme .theme-container {
  display: flex;
}
.container .theme .theme-item {
  border: 1px solid #f1f1f1;
}
.container .theme .theme__link {
  display: block;
}
.container .theme .theme__link .theme-item__title {
  font-weight: bold;
}
.container .theme .theme__link .theme-item__desc {
  padding-top: 0;
}
.container .theme .theme__link .theme-item__icon {
  border: 0.5px solid #ff000069;
  padding: 4px;
  width: 35px;
}
.container .hot-deal {
  margin-top: 60px;
}
.container .hot-deal .section-title {
  font-size: 1.25rem;
  padding-bottom: 20px;
  background-color: #f5f5f5;
}
.container .hot-deal .hot-deal-list {
  display: flex;
  flex-wrap: wrap;
}
.container .hot-deal .hot-deal-list .hot-deal__item {
  width: 20%;
  padding: 20px;
  border-right: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
}
.container .hot-deal .hot-deal__detail-price {
  margin-top: 20px;
  position: relative;
}
.container .hot-deal .hot-deal__detail-price .txt-price-percent {
  position: absolute;
  right: 10px;
  font-size: 1.1rem;
  line-height: 1.1rem;
  color: red;
}

/*# sourceMappingURL=app.css.map */
