@import 'global';

* {
  font-family: 돋움, dotum, sans-serif;
  // outline: 1px solid gray; //for debugging
  padding: 0rem;
  margin: 0rem;
}

body {
  background-color: $bg-color;
  margin: 0px auto;
}

a {
  cursor: pointer;
}

strong {
  font-weight: bold;
}

.screenOut {
  display: block;
  overflow: hidden;
  position: absolute;
  left: -9999px;
  width: 1px;
  height: 1px;
  text-indent: -9999px;
}
