.footer {
  background-color: white;
  margin-top: 4rem;
  padding: 34px 0 71px;

  .footer__wrapper {
    @extend %section-layout;
    position: relative;
  }

  .footer__info {
    font-size: 14px;
    line-height: 23px;
    color: #676767;
    .txt__bar {
      margin: 0 6px;
      color: #c7c7c7;
    }
  }

  .footer__caution {
    margin-top: 1rem;
    color: #8f8f8f;
    font-size: 13px;
    line-height: 23px;
  }

  .footer__copyright {
    display: block;
    position: absolute;
    right: 0px;
    bottom: 0px;
    font-size: 13px;
    color: #666;
  }
}
