.slider {
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    .slider__prevBtn {
      background-position: -60px 0;
    }

    .slider__nextBtn {
      background-position: -90px 0;
    }
  }

  .slider__prevBtn,
  .slider__nextBtn {
    overflow: hidden;
    cursor: pointer;
    margin: auto;
    width: 23px;
    height: 45px;
    background: url(//shop1.daumcdn.net/search/cdn/simage/shopping/v2/common/img_home_150131.png) no-repeat;
  }

  .slider__prevBtn {
    background-position: 0 0;
    &:hover {
      background-position: -120px 0;
    }
  }

  .slider__nextBtn {
    background-position: -30px 0;
    &:hover {
      background-position: -150px 0;
    }
  }

  .slider__track {
    position: relative;
    .slider__link {
      display: block;
    }
    .slider__pagingContainer {
      position: absolute;
      bottom: 1rem;
      left: 0;
      right: 0;
      user-select: none;
      display: flex;
      justify-content: center;

      .slider__paging {
        padding: 0.5rem 0;
        margin: 2px;

        span {
          display: block;
          width: 15px;
          height: 5px;
          background-color: #cccccc;
          transition: background-color 100ms ease-out;
        }

        .--selected,
        &:hover {
          span {
            background-color: black;
          }
        }
      }
    }
  }
}
