.wrap_rollkeywords {
  overflow: hidden;
  position: absolute;
  left: 31px;
  top: 16px;
  width: 578px;
  height: 23px;
  line-height: 23px;
  text-align: left;
  ol {
    position: absolute;
    top: -32px;
    left: 0;
    width: 100%;
    li {
      overflow: hidden;
      height: 22px;
      font-weight: 700;
      font-size: 20px;
      line-height: 22px;
      color: #939393;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    :not(li:first-child) {
      margin-top: 10px;
    }
  }
}
