.wrap_rcntproducts {
  display: none;
  position: absolute;
  right: 2px;
  top: 54px;
  z-index: 10;
  padding: 0 28px;
  border: 1px solid #979797;
  background-color: #fff;
  text-align: left;
  .list_tab {
    overflow: hidden;
    padding: 26px 0 17px;
    display: flex;
    li:nth-child(2) {
      margin-left: 38px;
    }
    li > a {
      display: flex;
      height: 26px;
      font-size: 14px;
      color: #444;
      box-sizing: border-box;
      letter-spacing: -0.05em;
      line-height: 1.5;
      .txt_tab {
        display: inline-block;

        vertical-align: top;
        width: 100%;
        .num_products {
          margin-left: 3px;
          font-weight: 700;
          font-size: 16px;
        }
      }
    }
    .on .txt_tab {
      border-bottom: 2px solid #4a4a4a;
      font-weight: 700;
    }
  }
  .box_pannel {
    .list_rcntproducts {
      overflow: hidden;
      width: 363px;
      height: 363px;
      li {
        float: left;
        margin: 0 1px 1px 0;
        a {
          img {
            vertical-align: top;
            width: 120px;
            height: 120px;
            aspect-ratio: auto 120 / 120;
          }
        }
      }
      .txt_noproducts {
        display: block;
        width: 363px;
        height: 255px;
        padding-top: 108px;
        font-weight: 700;
        font-size: 16px;
        color: #888;
        text-align: center;
        letter-spacing: -0.044em;
        .emph_g {
          color: #f95139;
        }
      }
    }
    .info_login {
      overflow: hidden;
      height: 106px;
      padding: 37px 0 23px;
      display: flex;
      justify-content: space-between;
      .link_mypage {
        margin-top: 19px;
        font-weight: 700;
        font-size: 14px;
        line-height: 31px;
        color: #444;
        letter-spacing: -0.044em;
        max-width: 270px;
        text-overflow: ellipsis;
        white-space: nowrap;
        .ico_user {
          position: static;
        }
      }
      .btn_login {
        margin-top: 23px;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: #888;
      }
    }
  }
}
.on .wrap_rcntproducts {
  display: block;
}
