.carousel {
  width: 50%;
  border-right: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
  overflow: hidden;
  position: relative;

  .carousel-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    transform: translateX(0%);
    transition: all 1s ease;
  }
}
