.header-top {
  display: flex;
  padding: 100px;
  justify-content: center;
  align-items: center;

  .title {
    display: flex;
    align-items: center;
    margin-right: 50px;
    cursor: pointer;

    img {
      width: 120px;
    }
  }
}
