$floating-layer-height: 600px;
$floating-layer-width: 400px;
$floating-layer-padding: 20px;
$floating-layer-border: 1px;

.floating-layer-benchmark {
  position: relative;
}

.floating-layer {
  position: absolute;
  bottom: -$floating-layer-height;
  right: 0;
  width: $floating-layer-width;
  height: $floating-layer-height;
  background-color: #FFFFFF;
  border: $floating-layer-border solid #AAAAAA;
  padding: $floating-layer-padding;
  overflow: hidden;
}

.tab {
  display: flex;
  justify-content: left;
  
  .tab-item {
    display: flex;
    align-items: center;
    margin-right: 30px;
    cursor: pointer;
    
    &.selected-tab-item {
      border-bottom: 2px solid #000000;
      
      .tab-item-text {
        font-weight: 600;
      }
    }
    
    .tab-item-text {
      padding: 5px 0;
    }
  
    .tab-item-number {
      font-size: 1.2rem;
      font-weight: 800;
      margin-left: 3px;
    }
  }
}

.goods-panel {
  
  .goods-list {
    display: flex;
    justify-content: left;
    padding-top: 10px;
    flex-wrap: wrap;
  
    .goods-item {
      width: ($floating-layer-width - ($floating-layer-padding + $floating-layer-border) * 2) / 3;
      height: ($floating-layer-width - ($floating-layer-padding + $floating-layer-border) * 2) / 3;
      padding: 2px;
      display: inline-block;
      cursor: pointer;
    }
    
  }
  
}