@import '@/static/styles/index.scss';

.hot-deal {
  @extend %section-layout;
  margin-top: 60px;

  .section-title {
    font-size: 1.25rem;
    padding-bottom: 20px;
    background-color: $bgColor;
  }
}
