.help-search-container {
  position: absolute;
  top: 54;
  left: 0;
  width: 100%;
  background-color: white;
  border: 1px solid var(--color-orange);
  border-radius: 10px;
  padding: 25px;
  gap: 50px;
  display: none;
}
