.wrap_shwcate {
  float: left;
  height: 54px;
  button {
    width: 118px;
    height: 54px;
    padding-left: 40px;
    line-height: 58px;
    display: block;
    position: relative;
    text-align: left;
  }
}
