.header-container {
  padding-top: 43px;
  background-color: #fff;
  text-align: center;
  min-width: 977px;
  display: flex;
  justify-content: center;
  height: 60px;
}

.header-top-container {
  display: flex;
}

.header-bottom-container {

}