@import "global";

$bannerimagewidth: 600px;
$planningcontainersize: 3;

.header-top {
    display: flex;
    padding: 60px;
    justify-content: center;

    .title {
        display: flex;
        align-items: center;
        margin-right: 50px;
    }

    .search {
        display: flex;
        position: relative;
        border: 1px solid gray;

        form {
            display: flex;

            .search__input {
                width: 400px;
                height: 60px;
                padding: 10px;
            }

            .search__icon {
                font-size: 1.4rem;
                padding: 10px;
            }
        }

        .search-rollbox{

            overflow: hidden;
            position: absolute;
            transform: translateY(50%);
            width: 200px;
            left: 10px;
            height: 50%;
            pointer-events: none;

            .search-top10 {
                position: absolute;
                transform: translateY(50%);
                left: 10px;
                font-size: 1.2rem;
                height: 50%;
                display: flex;
                flex-direction: column;
                align-items: start;
    
                .search-top10__item {
                    padding-top: 2px;
                    padding-bottom: 2px;
                }
            }
        }
    }
}

.header-menu {
    height: 60px;
    display: flex;
    border: 1px solid #cbcbcb;
    max-width: 1270px;
    margin: 0px auto;

    .category__title {
        height: 60px;
        padding: 10px;

        .fas {
            margin-right: 8px;
        }

    }

    .top-menu {
        display: flex;
        align-items: center;
        padding: 10px;

        .top-menu__btn {
            padding: 0 $button-padding;
            line-height: 60px;
        }
    }

    .private-menu {
        margin-left: auto;
        display: flex;
        position:relative;

        .private-menu__btn {
            padding: $button-padding;
        }

        .private-menu__recent-window {
            position: absolute;
            z-index: 100;
            width: 360px;
            height: 500px;
            background-color: white;
            top: 100%;
            right: 0;
            padding: 0 30px;

            .private-menu__recent-bar {

                .private-menu__recent-tab-container {
                    display: flex;

                    .private-menu__recent-tab {
                        text-align: center;
                        margin: 15px 5px 5px 5px;
                        cursor: pointer;
                    }
                }
            }

            .private-menu__recent-contents {
                display: flex;
                flex-wrap: wrap;

                .private-menu__recent-contents__item {
                    margin: 10px;
                    background-color: grey;
                    width: 80px;
                    height: 80px;
                }
            }
        }
    }
}

.gubun-bar {
    width: 1px;
    height: 60px;
    background: #cbcbcb;
    margin: 0px 20px;
}

.container {
    margin: auto;
    background-color: #f5f5f5;
    padding-top: 25px;

    .promotion {
        @extend %section-layout;
        @extend %border-basic;

        .banner {
            display: flex;
            justify-content: center;

            .best {
                float: left;
                width: 510px;

                .best__link {
                    display: block;
                    margin: 0 auto;
                }
            }
            .planning {
                width: 790px;

                .planning__window {
                    width: #{$bannerimagewidth};
                    margin: 0 auto;
                    overflow: hidden;
                    position: relative;

                    .planning__link-container {
                        position: relative;
                        display: flex;
                        width: calc(#{$planningcontainersize}*#{$bannerimagewidth});
                        flex-wrap: wrap;
                        left: -#{$bannerimagewidth};

                        .planning__link {
                            display: none;
                            margin: 0 auto;
                            width: #{$bannerimagewidth};
        
                            @for $i from 1 through 3 {
                                &:nth-child(#{$i}) {
                                    display: inline-block;
                                }
                            }
                        }
                    }

                    .planning__btn-container {
                        position: absolute;
                        top: calc(100% - 50px);
                        width: 100%;
                        text-align: center;

                        .planning__left-btn {
                            width: 35px;
                            height: 45px;
                            top: -14px;
                            position: absolute;
                            left: 150px;
                            
                            .planning__left-btn-icon {
                                display: inline-block;
                                background: url(//shop1.daumcdn.net/search/cdn/simage/shopping/v2/common/img_home_150131.png) no-repeat;
                                background-position: -128px -335px;
                                width: 15px;
                                height: 25px;
                                pointer-events: none;
                            }
                        }
                        
                        .planning__right-btn {
                            width: 35px;
                            height: 45px;
                            top: -14px;
                            position: absolute;
                            right: 150px;
                            
                            .planning__right-btn-icon {
                                display: inline-block;
                                background: url(//shop1.daumcdn.net/search/cdn/simage/shopping/v2/common/img_home_150131.png) no-repeat;
                                background-position: -145px -335px;
                                width: 15px;
                                height: 25px;
                                pointer-events: none;
                            }
                        }
        
                        .planning__paging {
                            display: inline-block;
                            height: 15px;
    
                            .planning__page {
                                display: inline-block;
                                padding: 5px 0px;
    
                                .planning__page-btn {
                                    width: 15px;
                                    height: 5px;
                                    background-color: lightgray;
                                }

                                .planning__current {
                                    background-color: gray;
                                }
                            }
                        }
                    }

                }
            }
        }

        img {
            margin: auto;
            text-align: center;
            display: flex;
        }
    }

    .theme {

        .theme-container {
            display: flex;
        }

        .theme-item {
            @extend %card;
            border: 1px solid #f1f1f1;
        }

        .theme__link {
            display: block;

            strong, span {
                @extend %text-block;
            }

            .theme-item__title {
                font-weight: bold;
            }

            .theme-item__desc {
                padding-top:0;
            }

            .theme-item__icon {
                border:0.5px solid #ff000069;
                padding:4px;
                width: 35px;
            }
        }
    }

    .hot-deal {
        @extend %section-layout;
        margin-top:60px;

        .section-title {
            font-size: 1.25rem;
            padding-bottom: 20px;
            background-color: $bgColor;
        }

        .hot-deal__title-bar {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .hot-deal__title {
                @extend %text-block;
            }

            .hot-deal__favorite-icon {

                svg {
                    pointer-events: none;
                }
            }

        }

        .hot-deal__detail-price{
            @extend %text-block;
        }

        .hot-deal-list {
            display: flex;
            flex-wrap:wrap;

            .hot-deal__item {
                width:20%;
                padding:20px;
                border-right: 1px solid #f1f1f1;
                border-bottom: 1px solid #f1f1f1;
            }
        }

        .hot-deal__detail-price {
            margin-top: 20px;
            position: relative;

            .txt-price-percent {
                position: absolute;
                right: 10px;
                font-size: 1.1rem;
                line-height: 1.1rem;
                color: red;
            }
        }
    }

    .recommendation {
        width: 1270px;
        margin: auto;
        padding: 10px 0px;

        .picked-items {
            display: flex;

            .exist {
                background-color: #fff;
            }

            .picked-items__item {
                width: 254px;
                display: flex;
                align-items: center;
                height: 100px;
                border: 1px solid lightgray;
                padding: 20px 10px;

                .picked-items__empty-text {
                    color: gray;
                }

                .picked-items__thumb {
                    width: 60px;
                    height: 60px;
                    background-color: gray;
                }

                .picekd-items__detail {
                    height: 60px;
                    margin: 0 10px;

                    .picked-items__title {
                        height: 75%;
                        margin: auto;
                    }

                    .picked-items__link {
                        color: gray;
                    }
                }
            }
        }

        .recommendation-items {
            @extend %section-layout;
            display: flex;
            flex-wrap:wrap;

            .recommendation-items__item {
                width:20%;
                padding:20px;
                border-right: 1px solid #f1f1f1;
                border-bottom: 1px solid #f1f1f1;
            }
        }
    }
}

/*https://elad2412.github.io/the-new-css-reset/*/

/*** The new CSS Reset - version 1.4.2 (last updated 30.11.2021) ***/

/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
 *:where(:not(iframe, canvas, img, svg, video):not(svg *, symbol *)) {
    all: unset;
    display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu {
    list-style: none;
}

/* For images to not be able to exceed their container */
img {
    max-width: 100%;
}

/* removes spacing between cells in tables */
table {
    border-collapse: collapse;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
    white-space: revert;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly. */
:where([contenteditable]){
    -moz-user-modify: read-write;
    -webkit-user-modify: read-write;
    overflow-wrap: break-word;
    -webkit-line-break: after-white-space;
}
