.footer {
  height: 280px;
  width: $banner-width;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: auto;
  .footer__content {
    font-size: xxx-large;
    color: gray;
    opacity: 0.5;
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 34px 0 71px;

    .kakaocommerce_info {
      font-size: 14px;
      line-height: 23px;
      color: #676767;
    }
    .txt_caution {
      margin-top: 13px;
      font-size: 13px;
      line-height: 23px;
      color: #8f8f8f;
    }
    .txt_copyright {
      display: block;
      margin: 14px 0 1px;
      font-size: 13px;
      font-weight: 800;
      font-family: Apple SD Gothic Neo, dotum, 돋움, sans-serif;
      color: #666;
    }
  }
}
