.header-menu {
  height: 60px;
  display: flex;
  border: 1px solid #cbcbcb;
  max-width: 1270px;
  margin: 40px auto;
  padding-left: 30px;
  padding-right: 30px;
  box-sizing: border-box;
  .category {
    position: relative;
    .category__title {
      height: 60px;
      padding: 10px;
      cursor: pointer;
      .fas {
        margin-right: 8px;
      }
    }
    .category__title:hover {
      background-color: rgba(255, 200, 153, 0.5);
    }
    .category__content {
      width: 561px;
      overflow: hidden;
      position: absolute;
      left: 0;
      top: 54px;
      z-index: 10;
      height: 498px;
      border: 1px solid #666;
      background-color: #fff;
      text-align: left;
      display: none;
      .category__content--screen-out {
        font-size: 0;
        line-height: 0;
      }
      ul.category__content--tab-list {
        width: 179px;
        height: 100%;
        padding-bottom: 70px;
        padding-top: 10px;
        background-color: #f7f7f7;
        box-sizing: border-box;
        li {
          display: block;
          width: 100%;
          height: 44px;
          padding-left: 32px;
          font-weight: 700;
          font-size: 20px;
          line-height: 47px;
          letter-spacing: -0.06em;
          box-sizing: border-box;
          color: #333;
        }
        li:hover {
          background-color: rgba(255, 255, 128, 0.5);
        }
      }
      ul.category__content--middle-tab {
        width: 179px;
        height: 100%;
        padding-bottom: 70px;
        padding-top: 10px;
        box-sizing: border-box;
        li {
          display: block;
          width: 100%;
          height: 44px;
          padding-left: 32px;
          line-height: 47px;
          letter-spacing: -0.06em;
          box-sizing: border-box;
          color: #333;
        }
        li:hover {
          background-color: rgba(255, 255, 128, 0.5);
        }
      }
      ul.category__content--low-tab {
        width: 179px;
        height: 100%;
        padding-bottom: 70px;
        padding-top: 10px;
        box-sizing: border-box;
        li {
          display: block;
          width: 100%;
          height: 44px;
          padding-left: 32px;
          line-height: 47px;
          letter-spacing: -0.06em;
          box-sizing: border-box;
          color: #333;
        }
        li:hover {
          background-color: rgba(255, 255, 128, 0.5);
        }
      }
    }
  }

  .top-menu {
    display: flex;
    align-items: center;
    padding: 10px;

    .top-menu__btn {
      padding: 0 $button-padding;
      line-height: 60px;
    }
  }

  .private-menu {
    margin-left: auto;
    display: flex;
    .private-menu__btn {
      padding: $button-padding;
      position: relative;
      cursor: pointer;
      button {
        width: $private-menu-btn-width;
      }
      .private-menu__content {
        display: none;
        position: absolute;
        flex-direction: column;
        padding-left: 20px;
        padding-right: 20px;
        top: calc($button-padding * 2 + 1rem);
        left: calc(-1 * $private-menu-content-width + $private-menu-btn-width + 72px);
        width: $private-menu-content-width;
        height: $private-menu-content-height;
        border: 1px solid #ccc;
        z-index: 1;
        background-color: white;
        .private-menu__title {
          height: $private-menu-btn-height;
          margin-top: $private-menu-btn-height/2;
          margin-bottom: $private-menu-btn-height/2;
        }
        .private-menu__list {
          display: flex;
          flex-wrap: wrap;
          img {
            margin-left: 20px;
            margin-right: 20px;
            margin-top: 15px;
          }
        }
      }
    }
  }
}
