@use "../../../../scss/common/component_common" as common;

.component {
  width: 100%;
  
  .goods-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border: common.$border-option;
    
    li {
      width: 20%;
      
      &:nth-child(n+1):nth-child(-n+4) {
        border-right: common.$border-option
      }
      
      &:nth-child(n+1):nth-child(-n+5) {
        border-bottom: common.$border-option;
      }
      
      &:nth-child(n+6):nth-child(-n+9) {
        border-right: common.$border-option;
      }
    }
  }
}