.header-top {
    display: flex;
    padding: 60px;
    justify-content: center;

    .title {
        display: flex;
        align-items: center;
        margin-right: 50px;
    }

    .search {
        position: relative;
        color: #333;

        form {
            .input_wrap {
                position: relative;
                width: 670px;
                height: 54px;
                padding: 16px 60px 14px 30px;
                border: 1px solid #cecfd1;
                border-radius: 10px;
                box-sizing: border-box;
            }

            .search__input {
                width: 100%;
                border: 0;
                font-weight: 700;
                font-size: 20px;
                line-height: 22px;
                color: #000;
                outline: none;
            }

            .search__icon {
                position: absolute;
                top: 0;
                right: 0;
                font-size: 1.4rem;
                padding: 10px;
            }
        }

        .rolling_keywords_wrap {
            position: absolute;
            overflow: hidden;
            top: 16px;
            left: 31px;
            width: 578px;
            height: 23px;
            text-align: left;

            .search-top10 {
                position: absolute;
                top: 0;
                left: 0;
                
                &.animate {
                    transition: all .5s linear;
                }

                .search-top10__item {
                    overflow: hidden;
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 26px;
                    color: #939393;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }
        }
    }
}

.header-menu {
    height: 60px;
    display: flex;
    border: 1px solid #cbcbcb;
    max-width: 1270px;
    margin: 0px auto;

    .category__title {
        height: 60px;
        padding: 10px;
        background-color: transparent;
        border: 0;

        .fas {
            margin-right: 8px;
        }
    }

    .top-menu {
        display: flex;
        align-items: center;
        padding: 10px;

        .top-menu__btn {
            padding: 0 $button-padding;
            line-height: 60px;
        }
    }

    .private-menu {
        margin-left: auto;
        display: flex;

        .private-menu__btn {
            padding: $button-padding;

            &.recently_viewed {
                position: relative;
            }

            .rvpv_products_wrap {
                position: absolute;
                top: 54px;
                right: 2px;
                z-index: 10;
                padding: 0 28px;
                border: 1px solid #979797;
                background-color: red;
                text-align: left;
                width: 50px;
                height: 50px;
            }
        }
    }
}

.gubun-bar {
    width: 1px;
    height: 60px;
    background: #cbcbcb;
    margin: 0px 20px;
}

.container {
    margin: auto;
    background-color: #f5f5f5;
    padding-top: 25px;

    .promotion {
        @extend %section-layout;
        @extend %border-basic;

        .banner {
            display: flex;
            justify-content: center;

            .best {
                float: left;
                width: 510px;

                .best__link {
                    display: block;
                    margin: 0 auto;
                }
            }

            .planning {
                width: 790px;

                .planning__link {
                    display: block;
                    margin: 0 auto;
                    width: 600px;

                }
            }
        }

        img {
            margin: auto;
            text-align: center;
            display: flex;
        }
    }
    .theme {
        .theme-container {
            display: flex;
        }
        
        .theme-item {
            @extend %card;
            border: 1px solid #f1f1f1;
        }

        .theme__link {
            display: inline-block;
            vertical-align: top;
            margin-left: 5px;

            strong, span {
                @extend %text-block;
            }

            .theme-item__title {
                font-weight: bold;
            }

            .theme-item__desc {
                padding-top: 0;
            }
            
            .theme-item__icon {
                color: #ff000069;
                border: 0.5px solid #ff000069;
                padding: 4px;
                width: 35px;
            }
        }
    }

    .hot-deal {
        @extend %section-layout;
        margin-top: 60px;

        .section-title {
            font-size: 1.25rem;
            padding-bottom: 20px;
            background-color: $bgColor;
        }

        .hot-deal__title, .hot-deal__detail-price {
            @extend %text-block;
        }

        .hot-deal-list {
            display: flex;
            flex-wrap: wrap;

            .hot-deal__item {
                width: 199px;
                padding: 25px 27px 20px;
                border-bottom: 1px solid #f1f1f1;
            }

            .hot-deal__item:not(:nth-child(5)) {
                border-right: 1px solid #f1f1f1;
            }
        }

        .hot-deal__detail-price {
            margin-top: 20px;
            position: relative;
            
            .txt-price-percent {
                position: absolute;
                right: 10px;
                font-size: 1.1rem;
                line-height: 1.1rem;
                color: red;
            }
        }
    }
}
