.header-top {
    display: flex;
    padding: 60px;
    justify-content: center;

    .title {
        display: flex;
        align-items: center;
        margin-right: 50px;
    }

    .search {
        position: relative;
        color: #333;

        form {
            .input_wrap {
                position: relative;
                width: 670px;
                height: 54px;
                padding: 16px 60px 14px 30px;
                border: 1px solid #cecfd1;
                border-radius: 10px;
                box-sizing: border-box;
            }

            .search__input {
                width: 100%;
                border: 0;
                font-weight: 700;
                font-size: 20px;
                line-height: 22px;
                color: #000;
                outline: none;
            }

            .search__icon {
                position: absolute;
                top: 0;
                right: 0;
                font-size: 1.4rem;
                padding: 10px;
            }
        }

        .rolling_keywords_wrap {
            position: absolute;
            overflow: hidden;
            top: 16px;
            left: 31px;
            width: 578px;
            height: 23px;
            text-align: left;

            .search-top10 {
                position: absolute;
                top: 0;
                left: 0;
                
                &.animate {
                    transition: all .5s linear;
                }

                .search-top10__item {
                    overflow: hidden;
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 26px;
                    color: #939393;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }
        }
    }
}

.header-menu {
    height: 60px;
    display: flex;
    border: 1px solid #cbcbcb;
    max-width: 1270px;
    margin: 0px auto;

    .category__title {
        height: 60px;
        padding: 10px;
        background-color: transparent;
        border: 0;

        .fas {
            margin-right: 8px;
        }
    }

    .top-menu {
        display: flex;
        align-items: center;
        padding: 10px;

        .top-menu__btn {
            padding: 0 $button-padding;
            line-height: 60px;
        }
    }

    .private-menu {
        margin-left: auto;
        display: flex;

        .private-menu__btn {
            padding: $button-padding;

            .private-menu__link:link,
            .private-menu__link:visited,
            .private-menu__link:hover,
            .private-menu__link:active {
                text-decoration: none;
            }

            &.recently_viewed {
                position: relative;
            }

            .rvpv_products_wrap {
                display: none;
                position: absolute;
                top: 60px;
                right: 0px;
                z-index: 10;
                padding: 0 28px;
                border: 1px solid #979797;
                background-color: #fff;
                text-align: left;

                .rvpv_products_title {
                    display: block;
                    font-size: 14px;
                    line-height: 26px;
                    color: #444;
                    padding: 26px 0 17px;

                    .num_products {
                        margin-left: 3px;
                        font-size: 16px;
                        line-height: 19px;
                    }
                }

                .box_panel {
                    .txt_noproducts {
                        display: block;
                        width: 363px;
                        height: 255px;
                        padding-top: 108px;
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 19px;
                        color: #888;
                        text-align: center;

                        .txt_red {
                            color: #f95139;
                        }
                    }
                }
            }
        }
    }
}

.gubun-bar {
    width: 1px;
    height: 60px;
    background: #cbcbcb;
    margin: 0px 20px;
}

.container {
    margin: auto;
    background-color: #f5f5f5;
    padding-top: 25px;

    .promotion {
        @extend %section-layout;
        @extend %border-basic;

        .banner {
            display: flex;
            justify-content: center;

            .best {
                float: left;
                border-right: 1px solid #f1f1f1;

                .best__link {
                    display: block;
                }
            }

            .planning {
                width: 600px;
                margin: 0 auto;
                height: 340px;
                overflow: hidden;
                position: relative;

                .carousel_image_wrap {
                    position: relative;
                    top: 0;
                    left: -600px; 
                    overflow: hidden; 
                    height: 340px; 
                    width: 3000px;
                    transition: left 0.3s ease-in-out;
                }

                .carousel_image_wrap::after {
                    content: "";
                    display: block;
                    clear: both;
                }

                .planning__link {
                    float: left;
                    margin: 0 auto;
                    width: 600px;
                }
            }

            .planning__left-btn {
                position: absolute;
                padding: 15px;
                top: 140px;
                left: -15px;
                border: 0;
                background-color: transparent;
            }

            .planning__left-btn::after {
                content: "";
                display: inline-block;
                background: url(https://shop1.daumcdn.net/search/cdn/simage/shopping/v2/common/img_home_150131.png) no-repeat;
                width: 23px;
                height: 45px;
                background-size: 260px 385px;
                background-position: 0 0;
            }

            .planning__right-btn {
                position: absolute;
                padding: 15px;
                top: 140px;
                right: -15px;
                border: 0;
                background-color: transparent;
            }

            .planning__right-btn::after {
                content: "";
                display: inline-block;
                background: url(https://shop1.daumcdn.net/search/cdn/simage/shopping/v2/common/img_home_150131.png) no-repeat;
                width: 23px;
                height: 45px;
                background-size: 260px 385px;
                background-position: -30px 0;
            }
        }

        .banner::after {
            content: "";
            display: block;
            clear: both;
        }

        img {
            margin: auto;
            text-align: center;
            display: flex;
        }
    }
    .theme {
        .theme-container {
            display: flex;
        }
        
        .theme-item {
            @extend %card;
            border: 1px solid #f1f1f1;
        }

        .theme__link {
            display: inline-block;
            vertical-align: top;
            margin-left: 5px;

            strong, span {
                @extend %text-block;
            }

            .theme-item__title {
                font-weight: bold;
            }

            .theme-item__desc {
                padding-top: 0;
            }
            
            .theme-item__icon {
                color: #ff000069;
                border: 0.5px solid #ff000069;
                padding: 4px;
                width: 35px;
            }
        }
    }

    .hot-deal {
        @extend %section-layout;
        margin-top: 60px;

        .section-title {
            font-size: 1.25rem;
            padding-bottom: 20px;
            background-color: $bgColor;
        }

        .hot-deal__title, .hot-deal__detail-price {
            @extend %text-block;
        }

        .hot-deal-list {
            display: flex;
            flex-wrap: wrap;

            .hot-deal__item {
                width: 199px;
                padding: 25px 27px 20px;
                border-bottom: 1px solid #f1f1f1;
            }

            .hot-deal__item:not(:nth-child(5)) {
                border-right: 1px solid #f1f1f1;
            }
        }

        .hot-deal__detail-price {
            margin-top: 20px;
            position: relative;
            
            .txt-price-percent {
                position: absolute;
                right: 10px;
                font-size: 1.1rem;
                line-height: 1.1rem;
                color: red;
            }
        }
    }
}
