$height: 40px;

.component {
  height: $height;
  position: absolute;
  left: 10px;
  display: flex;
  align-items: center;
  overflow: hidden;
  
  .text-roller {
    height: $height;
    
    .text-item {
      height: 100%;
      display: flex;
      align-items: center;
      font-size: 1.2rem;
    }
  }
}

:export {
  height: $height;
}