@import '@/static/styles/index.scss';

.main-container {
  margin: auto;
  background-color: #f5f5f5;
  width: 100vw;
  height: 2000px;
  margin-top: 200px;
  border: 1px solid var(--color-grey3);

  .promotion {
    @extend %section-layout;
    @extend %border-basic;

    .banner {
      display: flex;
      justify-content: center;

      .best {
        float: left;
        width: 510px;

        .best__link {
          display: block;
          margin: 0 auto;
        }
      }

      .planning {
        width: 790px;

        .planning__link {
          display: block;
          margin: 0 auto;
          width: 600px;
        }
      }
    }

    img {
      margin: auto;
      text-align: center;
      display: flex;
    }
  }
  .theme {
    .theme-container {
      display: flex;
    }
    .theme-item {
      @extend %card;
      border: 1px solid #f1f1f1;
    }
    .theme__link {
      display: block;
      strong,
      span {
        @extend %text-block;
      }
      .theme-item__title {
        font-weight: bold;
      }
      .theme-item__desc {
        padding-top: 0;
      }
      .theme-item__icon {
        border: 0.5px solid #ff000069;
        padding: 4px;
        width: 35px;
      }
    }
  }
}
